<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
<body>
    <h1>Book List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">Book Title</td>
                <td th:text="${book.title}">Book Author</td>
                <td th:text="${book.publisher.publisherName}">Book ISBN</td>
            </tr>
        </tbody>
    </table>
</body>
</html>